ARM/CreateNewIncident.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Create-Sentinel-Incident",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName":"[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "PUT",
                                "schema": {
                                    "properties": {
                                        "incidentDescription": {
                                            "type": "string"
                                        },
                                        "incidentTitle": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "runAfter": {
                                "Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Get_incident')?['id']",
                                    "message": "<p><span style=\"font-family: tahoma; font-size: 24px\"><strong>Hello</strong></span></p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Get_incident": {
                            "runAfter": {
                                "Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@{body('HttpCreateNewIncident')?['id']}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents"
                            }
                        },
                        "HttpCreateNewIncident": {
                            "runAfter": {
                                "Initialize_workspaceName_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "properties": {
                                        "additionalData": {
                                            "alertProductNames": [],
                                            "alertsCount": 0,
                                            "bookmarksCount": 0,
                                            "commentsCount": 3,
                                            "tactics": []
                                        },
                                        "description": "@{variables('incidentDescription')}",
                                        "labels": [],
                                        "severity": "High",
                                        "status": "New",
                                        "title": "My @{variables('incidentTitle')}"
                                    }
                                },
                                "method": "PUT",
                                "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('workspaceName')}/providers/Microsoft.SecurityInsights/incidents/@{variables('Incident_GUID')}?api-version=2020-01-01"
                            }
                        },
                        "Initialize_IncidentTitle_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "incidentTitle",
                                        "type": "string",
                                        "value": "@triggerBody()?['incidentTitle']"
                                    }
                                ]
                            }
                        },
                        "Initialize_Incident_GUID_variable": {
                            "runAfter": {
                                "Initialize_incidentDescription_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Incident_GUID",
                                        "type": "string",
                                        "value": "@{guid()}"
                                    }
                                ]
                            }
                        },
                        "Initialize_incidentDescription_variable": {
                            "runAfter": {
                                "Initialize_IncidentTitle_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "incidentDescription",
                                        "type": "string",
                                        "value": "@triggerBody()?['incidentDescription']"
                                    }
                                ]
                            }
                        },
                        "Initialize_resourceGroupName": {
                            "runAfter": {
                                "Initialize_subscriptionID_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceGroupName",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "Initialize_subscriptionID_variable": {
                            "runAfter": {
                                "Initialize_Incident_GUID_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subscriptionId",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "Initialize_workspaceName_variable": {
                            "runAfter": {
                                "Initialize_resourceGroupName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "workspaceName",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "HttpCreateNewIncident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "New incident created with title \"@{variables('incidentTitle')}\"",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId":"[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName":"[variables('AzureSentinelConnectionName')]",
                                "id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                             }
                        }
                    }
                }
            }
        }
    ]
}
